.idea/*
.idea/workspace.xml
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
.idea
/public/vendor/
/vendor/*


###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
